<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Income / Expense</h4>
        <p class="card-description">
          Inform the amount and type
        </p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Description"
              name="description"
              formControlName="description"
            />
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input
              type="number"
              class="form-control"
              placeholder="Amount"
              name="amount"
              formControlName="amount"
            />
            <p>
              Should be a positive amount
            </p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br />

            <button
              (click)="setExpense()"
              *ngIf="type === 'INCOME'"
              type="button"
              class="btn btn-primary btn-block"
            >
              Income
            </button>

            <button
              (click)="setIncome()"
              *ngIf="type === 'EXPENSE'"
              type="button"
              class="btn btn-warning btn-block"
            >
              Expense
            </button>
          </div>

          <hr />
          <button
            *ngIf="!isLoading"
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="form.invalid"
          >
            <i class="fa fa-save"></i>
            Save
          </button>

          <button *ngIf="isLoading" disabled class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Loading...
          </button>

          <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
